.master-container {
    width: 100%;
    min-height: 100svh;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.galleryTextContainer {
    width: 100%;
    min-height: 100svh;
    max-height: max-content;
    padding: 10vw;
    margin-top: 0rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Changed from 'left' */
    justify-content: center;
    background-color: var(--bkg);
    position: relative;
}

.headerAndGear {
    display: flex;
    align-items: center;
}

.galleryTextHeader {
    font-size: calc(64px + 0.5vw);
    font-family: 'OffBit', sans-serif;
    justify-content: flex-start; /* Changed from 'left' */
    text-align: left;
    z-index: 4;
    color: var(--text);
    margin-right: 20px; /* Add some space between the header and the gear icon */
}

.galleryTextBody {
    font-size: calc(12px + 0.5vw);
    width: 50%;
    justify-content: flex-start; /* Changed from 'left' */
    text-align: left;
    z-index: 4;
    font-family: 'Helvetica Neue', sans-serif;
    color: var(--text);
}

@media screen and (min-width: 800px) {
    .galleryTextHeader {
        font-size: calc(160px + 0.5vw);
    }
    .galleryTextBody {
        font-size: calc(20px + 0.5vw);
    }
}


