.gear-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Adjust based on your layout */
    width: 10vw; /* Adjust based on your layout */
   
  }
  
  .gear-container .fa-cog {
    font-size: calc(128px + 0.5vw); /* Adjust the size of the gear icon */
    color: #615d5d; /* Adjust the color of the gear icon */
  }
  